* {
    box-sizing: border-box;
}

body {
    background-color: #FFE2B0;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

.header {
    text-align: center;
}

.navbar {
    display: flex;
}

.nav-text {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.nav-list {
    display: inline-flex;

}

li {
    list-style: none;
}

.blue {
    padding-left: 100px;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.img_logo {
    width: 250px;
}

/* Main */

.about {
    height: 640px;
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.about-block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
}

.about-border {
    height: 160px;
    width: 390px;
    border: 1px solid black;
    margin: 0 auto;
}

.about-border h1 {
    font-size: 25px;
}

.about-border p {
    font-weight: 700;
}

.section-description {
    margin-bottom: 20px;
}

.description-text {
}

.description {
    text-align: center;
}

.red {
   padding-left: 76px; 
}

.title {
    text-align: center;
    font-size: 66px;
}

.title__word {
    color: #F15B40;
}

.title_p {
    font-size: 18px;
    text-align: center;
}

.p-text {
    width: 1000px;
    margin: 0 auto;
}

.title__maps {
    font-size: 36px;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

.line {
    border-top: 1px solid #000000;
    width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
}